@charset "utf-8";
/**
    only set used reset styles.
 */

 body {
    width: 100%;
	max-width: 640px;
	margin: 0 auto;
    position: relative;
}

body, html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
